body {
    margin: 0;
    font-family: Arial, sans-serif ;
    background: #f5f7fa;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.main-title {
    margin-bottom: 20px;
}

.dashboard {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.dash-card {
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 8px;
}

.dash-card p {
    margin: 0;
    color: grey;
}

.dash-card h2 {
    margin: 5px 0 0 0;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabs {
    margin: 15px 0;
}

.tab {
    padding: 8px 14px;
    border: none;
    cursor: pointer;
    background: #e5e7eb;
    margin-right: 6px;
    border-radius: 5px;
}

.tab.active {
    background: #2563eb;
    color: white;
}

.jobs-container {
    display: flex;
    flex-direction: column;
    gap: 20px;   
}

.job-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.company {
    font-weight: 600px;
    font-size: 18px;
}

.position {
    color: #444;
}

.meta {
    font-size: 14px;
    color: #666;
    margin: 6px 0;
}

.status {
    display: inline-block;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 600;
    margin: 10px 0;
}

.status.all {
    background: #e0f2fe;
    color: #0284c7;
}

.status.interview {
    background: #dcfce7;
    color: #16a34a;
}

.status.rejected {
    background: #fee2e2;
    color: #dc2626;
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn {
    flex: 1;
    padding: 8px;
    border-radius: 6px;
    background: transparent;
    cursor: pointer;
    font-weight: 600;
}

.btn-interview {
    border: 1px solid #16a34a;
    color: #16a34a;
}

.btn-interview:hover {
    background: #16a34a;
    color: white;
}

.btn-rejected {
    border: 1px solid #dc2626;
    color: #dc2626;
}

.btn-rejected:hover {
    background: #dc2626;
    color: white;
}

.delete-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    border: none;
    background: #f3f4f6;
    cursor: pointer;
    border-radius: 50%;
    padding: 6px;
}

.delete-btn:hover {
    background: #e5e7eb;
}

.empty-state {
    text-align: center;
    padding: 40px;
    background: white;
    border-radius: 8px;
    margin-top: 20px;
}

.hidden {
    display: none;
}

