body {
    margin: 0;
    font-family: Arial, sans-serif ;
    background: #f5f7fa;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.main-title {
    margin-bottom: 20px;
}

.dashboard {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.dash-card {
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 8px;
}

.dash-card p {
    margin: 0;
    color: grey;
}

.dash-card h2 {
    margin: 5px 0 0 0;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}